.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 100px;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
}

.title {
    text-align: center;
    color: #282c34;
    font-size: 24px;
}

.form-field {
    margin-bottom: 16px;
}

.label-form {
    margin-bottom: 10px;
    color: var(--roxo);
    font-size: 16px;
    font-weight: bolder;    
}

.input-form {
    width: 82%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
}

.button-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 50%;
    padding: 12px;  
    background-color: var(--laranja);
    color: white;  
    border: none;
    border-radius: 8px;
}

.login-button:hover {
    background-color: var(--azul);
    transition: 0.7s;
    cursor: pointer;
}

label,input{
    display:flex;
    flex-direction:column;
    margin-left: 16px;
}

.linktext-form {
    color: var(--roxo);
    font-size: 12px;
}

.linktext-form:hover {
    color: var(--azul);
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
}

