header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0rem 1.5rem;
}

.image-clickable {
    margin-right: auto;    
}

.image-clickable:hover {
    margin-right: auto;    
    cursor: pointer;
}
  
.login-logo {
    margin-right: auto;
    width: 90px;
    height: 90px;
}

.signup-button {
    background-color: var(--laranja);
    color: #fff;
    cursor: pointer;
    padding: 9px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    margin-left: 20px;
}
  
.signup-button:hover {
    background: var(--azul);
    cursor: pointer;
}
