.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Buttons {
  margin: auto;
}

.Text {
  margin-top: 150px;
}

.button {
  position: absolute;
  background-color:#282c34;
  color: #fff;
  border:none; 
  padding:15px;
  min-height:100px; 
  min-width: 100px;
  margin-left: 200px;
}

.ok-button {
  position: absolute;
  background-color:#282c34;
  color: #fff;
  border:none; 
  padding:15px;
  min-height:100px; 
  min-width: 100px;

}

.Ok-button:hover {
  color: green;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
