ul {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--roxo);
    position: fixed;
    overflow: auto;
    border-right: 1px solid #555;
}
  
li {
    position: relative;
    display: block;
    padding: 0.75rem;
    background-color: var(--roxo);
    font-size: 16px;
    font-family: var(--font);
}

li:hover {
    display: block;
    padding: 0.75rem;
    cursor: pointer;
    background-color: var(--azul);
    border-radius: 25px;
}

.active {
    background-color: var(--laranja);
    color: white;
}

.logo {
    width: 100%;
    height: 100%;
}

.container-user-menu {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}

.container-user-li {
    display: flex;
}

.container-user-li:hover {
        display: flex;
}

.user-photo{ 
    max-width: 15%;
    border-radius: 50%;
}

.user-info {
    font-size: 16px;
    font-family: var(--font);
    margin-left: 10%;
}