ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: var(--roxo);
    position: fixed;
    overflow: auto;
    border-right: 1px solid #555;
}
  
li {
    display: block;
    padding: 0 1.25rem;
    font-size: 16px;
    height: 10%;
    background-color: var(--roxo);
    font-family: var(--font);
}

li:hover {
    display: block;
    padding: 0 1.25rem;
    font-size: 18px;
    cursor: pointer;
    color: var(--azul);
}

.active {
    background-color: var(--laranja);
    color: white;
}

.image-logo {
    margin-top: 5%;
    margin-bottom: 15%;
    width: 20%;
    height: 20%;
}

.image-logo:hover {
    margin-right: auto;    
    cursor: pointer;
}
  
.logo {
    width: 100%;
    height: 100%;
}

.user-menu {
    position: absolute;
    bottom: 0;
}